.conteiner {
  width: 310px;
  height: 400px;
  border: 1px solid gray;
  border-radius: 25px;
  margin: 0 auto;
  overflow: auto;
  scrollbar-color: rgba(3, 3, 3, 0.5) transparent;
  overflow-x: hidden;
  margin-top: 30px;
}
.conteiner::-webkit-scrollbar-track {
  background-color: transparent; /* Прозорий фон скролбару */
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
}
.conteiner::-webkit-scrollbar {
  width: 8px; /* Ширина скролбара */
}

.conteiner::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Колір прозорого скролбару */
  border-radius: 8px;
}
